/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 6, ../sass/style.scss */
body {
  font-family: Arial, "Microsoft Yahei";
  font-size: 1rem;
}

/* line 10, ../sass/style.scss */
input {
  outline: none;
}
/* line 12, ../sass/style.scss */
input:focus {
  border: none;
}

/* line 16, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 19, ../sass/style.scss */
img {
  border: none;
}

/* line 22, ../sass/style.scss */
.ofh {
  overflow: hidden;
}

/* line 26, ../sass/style.scss */
.bor {
  position: fixed;
  z-index: 999;
  border: 13px solid #574395;
  background: #574395;
  font-size: 0;
  line-height: 0;
}

/* line 34, ../sass/style.scss */
.tb {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

/* line 41, ../sass/style.scss */
.bb {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

/* line 48, ../sass/style.scss */
.lb {
  left: 0;
  top: 0;
  bottom: 0;
  height: 9999rem;
  width: 0;
}

/* line 55, ../sass/style.scss */
.rb {
  right: 0;
  top: 0;
  bottom: 0;
  height: 9999rem;
  width: 0;
}

/* line 62, ../sass/style.scss */
nav {
  width: 100%;
  height: 60px;
  font-size: 0;
  background: #574395;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}
/* line 74, ../sass/style.scss */
nav .inner {
  height: 60px;
  margin: 0 auto;
  position: relative;
}
/* line 79, ../sass/style.scss */
nav .inner .logo {
  width: 300px;
  height: 60px;
  font-size: 0;
  float: left;
}
/* line 85, ../sass/style.scss */
nav .inner .menu {
  width: 196px;
  height: 48px;
  margin-top: 12px;
  float: right;
}
/* line 91, ../sass/style.scss */
nav .inner .menu .index {
  width: 144px;
  height: 44px;
  font-size: 16px;
  line-height: 2;
  float: left;
  text-align: right;
  padding-right: 4px;
  padding-top: 4px;
  color: #fff;
}
/* line 101, ../sass/style.scss */
nav .inner .menu .index a {
  color: #fff;
}
/* line 103, ../sass/style.scss */
nav .inner .menu .index a:hover, nav .inner .menu .index a:active {
  color: #eeecf4;
}
/* line 108, ../sass/style.scss */
nav .inner .menu .navmenu {
  float: left;
  height: 43px;
  width: 48px;
  text-align: center;
  position: relative;
  padding-top: 5px;
  z-index: 0;
  cursor: pointer;
}
/* line 117, ../sass/style.scss */
nav .inner .menu .navmenu .closebt {
  position: absolute;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: #fff;
  border-top: 2px solid #574395;
  border-left: 2px solid #574395;
  border-right: 2px solid #574395;
  display: none;
}
/* line 132, ../sass/style.scss */
nav .inner .menu .navmenu .menubox {
  position: absolute;
  width: 490px;
  height: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  border: 2px solid #574395;
  background: #fff;
  right: 0;
  top: 48px;
  display: none;
  cursor: default;
  padding-left: 25px;
}
/* line 145, ../sass/style.scss */
nav .inner .menu .navmenu .menubox ul li {
  width: 88px;
  height: 56px;
  float: left;
  text-align: center;
  font-size: 16px;
  line-height: 3.5;
}
/* line 152, ../sass/style.scss */
nav .inner .menu .navmenu .menubox ul li a {
  color: #574395;
}
/* line 154, ../sass/style.scss */
nav .inner .menu .navmenu .menubox ul li a:hover, nav .inner .menu .navmenu .menubox ul li a:active {
  color: #725db3;
}
/* line 160, ../sass/style.scss */
nav .inner .menu .navmenu .whitemask {
  height: 2px;
  width: 44px;
  position: absolute;
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 48px;
  right: 2px;
  display: none;
}

/* line 175, ../sass/style.scss */
.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 183, ../sass/style.scss */
.swiper-container .swiper-slide {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 0;
  position: relative;
}
/* line 190, ../sass/style.scss */
.swiper-container .swiper-slide .bgbox {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
/* line 201, ../sass/style.scss */
.swiper-container .swiper-pagination {
  width: 20px;
  height: 125px;
  background: #574395;
  overflow: hidden;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-top: -62.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 6px;
}
/* line 210, ../sass/style.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #8a7cb5;
  opacity: 1;
  margin-bottom: 22px !important;
}
/* line 214, ../sass/style.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  display: none;
}
/* line 218, ../sass/style.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
/* line 222, ../sass/style.scss */
.swiper-container .swiper-scrollbar {
  right: 27px !important;
}

/* line 226, ../sass/style.scss */
.index_main {
  height: 3000px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0 auto;
}
/* line 232, ../sass/style.scss */
.index_main .nav {
  width: 100%;
  height: 160px;
  margin-top: 40px;
}
/* line 236, ../sass/style.scss */
.index_main .nav li {
  float: left;
  width: 140px;
  height: 160px;
  font-size: 0;
  margin: 0 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 244, ../sass/style.scss */
.index_main .nav li:hover {
  background: #dfdbea;
}
/* line 249, ../sass/style.scss */
.index_main .line_title {
  width: 100%;
  height: 180px;
  font-size: 0;
  text-align: center;
}
/* line 255, ../sass/style.scss */
.index_main section {
  width: 100%;
}
/* line 257, ../sass/style.scss */
.index_main section .line_content {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  background: #fff;
}
/* line 263, ../sass/style.scss */
.index_main section .line_content:nth-child(odd) .imgbox {
  float: left;
}
/* line 266, ../sass/style.scss */
.index_main section .line_content:nth-child(odd) .textbox {
  float: right;
}
/* line 271, ../sass/style.scss */
.index_main section .line_content:nth-child(even) .imgbox {
  float: right;
}
/* line 274, ../sass/style.scss */
.index_main section .line_content:nth-child(even) .textbox {
  float: left;
}
/* line 278, ../sass/style.scss */
.index_main section .line_content .imgbox {
  width: 50%;
  height: 240px;
  font-size: 0;
}
/* line 282, ../sass/style.scss */
.index_main section .line_content .imgbox img {
  width: 100%;
  height: 100%;
}
/* line 287, ../sass/style.scss */
.index_main section .line_content .textbox {
  width: 50%;
  height: 240px;
}
/* line 290, ../sass/style.scss */
.index_main section .line_content .textbox .title {
  margin-top: 35px;
  text-align: center;
  font-size: 0;
}
/* line 295, ../sass/style.scss */
.index_main section .line_content .textbox .content {
  width: 100%;
}
/* line 297, ../sass/style.scss */
.index_main section .line_content .textbox .content p {
  font-family: SimSun,STSong;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
/* line 306, ../sass/style.scss */
.index_main section .line_content_ob {
  float: left;
  width: 310px;
  height: 414px;
  margin-right: 35px;
  background: #fff;
}
/* line 312, ../sass/style.scss */
.index_main section .line_content_ob:last-child {
  margin-right: 0;
}
/* line 315, ../sass/style.scss */
.index_main section .line_content_ob .imgbox {
  width: 100%;
  height: 280px;
  font-size: 0;
}
/* line 319, ../sass/style.scss */
.index_main section .line_content_ob .imgbox img {
  width: 100%;
  height: 100%;
}
/* line 324, ../sass/style.scss */
.index_main section .line_content_ob .textbox {
  width: 100%;
  height: 130px;
}
/* line 327, ../sass/style.scss */
.index_main section .line_content_ob .textbox .title {
  width: 132px;
  text-align: center;
  float: left;
  padding-top: 40px;
}
/* line 333, ../sass/style.scss */
.index_main section .line_content_ob .textbox .content {
  width: 178px;
  float: left;
  padding-top: 20px;
}
/* line 337, ../sass/style.scss */
.index_main section .line_content_ob .textbox .content p {
  font-family: SimSun,STSong;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
}
/* line 346, ../sass/style.scss */
.index_main section .line_content_contact {
  width: 550px;
  margin: 0 auto;
}
/* line 349, ../sass/style.scss */
.index_main section .line_content_contact form {
  padding: 0;
  margin: 0;
}
/* line 353, ../sass/style.scss */
.index_main section .line_content_contact .inputbox {
  width: 100%;
  height: 50px;
  /* for the future */
}
/* line 356, ../sass/style.scss */
.index_main section .line_content_contact .inputbox input[type=text] {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  background: #fff;
  border: 2px solid #5b4e9b;
  font-size: 16px;
  color: #000;
}
/* line 367, ../sass/style.scss */
.index_main section .line_content_contact .inputbox ::-webkit-input-placeholder {
  color: #9a8ebf;
}
/* line 370, ../sass/style.scss */
.index_main section .line_content_contact .inputbox :-moz-placeholder {
  color: #9a8ebf;
}
/* line 373, ../sass/style.scss */
.index_main section .line_content_contact .inputbox ::-moz-placeholder {
  color: #9a8ebf;
}
/* line 376, ../sass/style.scss */
.index_main section .line_content_contact .inputbox :-ms-input-placeholder {
  color: #9a8ebf;
}
/* line 380, ../sass/style.scss */
.index_main section .line_content_contact .btbox {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
/* line 384, ../sass/style.scss */
.index_main section .line_content_contact .btbox input[type=submit] {
  width: 120px;
  height: 50px;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #5b4e9b;
  font-size: 16px;
  color: #fff;
  border: none;
}

@media screen and (min-width: 1025px) {
  /* line 399, ../sass/style.scss */
  .swiper-container .img_title {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: 130px;
    font-size: 0;
  }
  /* line 406, ../sass/style.scss */
  .swiper-container .img_title img {
    width: 100%;
  }

  /* line 410, ../sass/style.scss */
  .inner {
    width: 1000px;
  }
  /* line 412, ../sass/style.scss */
  .inner .menu {
    margin-right: 64px;
  }

  /* line 416, ../sass/style.scss */
  #contents .swiper-slide {
    height: 3000px;
  }

  /* line 419, ../sass/style.scss */
  .index_main {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 424, ../sass/style.scss */
  .index_main {
    width: 100rem;
  }

  /* line 427, ../sass/style.scss */
  .swiper-container .img_title {
    width: 90%;
    position: absolute;
    bottom: 130px;
    left: 50%;
    margin-left: -45%;
    font-size: 0;
  }
  /* line 434, ../sass/style.scss */
  .swiper-container .img_title img {
    width: 100%;
  }

  /* line 438, ../sass/style.scss */
  .inner {
    width: 100%;
  }
  /* line 440, ../sass/style.scss */
  .inner .menu {
    margin-right: 20px;
  }
}
/* line 445, ../sass/style.scss */
.main {
  width: 1000px;
  margin: 60px auto 0 auto;
}
/* line 449, ../sass/style.scss */
.main .banner_tech {
  width: 100%;
  height: 490px;
  font-size: 0;
}
/* line 454, ../sass/style.scss */
.main .teach_title {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 0;
}
/* line 460, ../sass/style.scss */
.main .line_teach_who {
  height: 350px;
  width: 100%;
  position: relative;
  padding-right: 330px;
  padding-left: 64px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 467, ../sass/style.scss */
.main .line_teach_who .inner_img {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  width: 400px;
  height: 270px;
}
/* line 475, ../sass/style.scss */
.main .line_teach_who .tw_title {
  width: 100%;
  height: 50px;
  font-size: 0;
  padding-top: 50px;
}
/* line 481, ../sass/style.scss */
.main .line_teach_who h2 {
  height: 60px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  color: #000;
  line-height: 2.5;
  margin-top: 40px;
}
/* line 493, ../sass/style.scss */
.main .line_teach_who p {
  font-size: 16px;
  line-height: 2;
  color: #060001;
  opacity: 0.7;
}
/* line 500, ../sass/style.scss */
.main .teach_imgbox {
  width: 100%;
  font-size: 0;
}
/* line 503, ../sass/style.scss */
.main .teach_imgbox img {
  width: 100%;
}
/* line 507, ../sass/style.scss */
.main .teach_tsys_text {
  width: 100%;
  height: 330px;
}
/* line 510, ../sass/style.scss */
.main .teach_tsys_text p {
  font-size: 24px;
  line-height: 2.5;
  text-align: center;
}

/* line 517, ../sass/style.scss */
.teach_bg {
  position: absolute;
  width: 100%;
  height: 490px;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1000px;
  -moz-transform: rotate(3.5687deg);
  -ms-transform: rotate(3.5687deg);
  -webkit-transform: rotate(3.5687deg);
  transform: rotate(3.5687deg);
  background: #574395;
  z-index: -1;
}

/* line 529, ../sass/style.scss */
.teach_bg_top {
  position: absolute;
  width: 100%;
  height: 490px;
  top: -400px;
  left: 0;
  right: 0;
  min-width: 1000px;
  -moz-transform: rotate(3.5687deg);
  -ms-transform: rotate(3.5687deg);
  -webkit-transform: rotate(3.5687deg);
  transform: rotate(3.5687deg);
  background: #574395;
  z-index: -1;
}
