/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* commen */
/* line 4, ../sass/style_m.scss */
body {
  font-family: Arial,"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

/* line 7, ../sass/style_m.scss */
input {
  outline: none;
}
/* line 9, ../sass/style_m.scss */
input:focus {
  border: none;
}

/* line 13, ../sass/style_m.scss */
a {
  text-decoration: none;
}

/* line 16, ../sass/style_m.scss */
img {
  border: none;
  max-width: 100%;
}

/* line 21, ../sass/style_m.scss */
.bor {
  position: fixed;
  z-index: 999;
  background: #574395;
  font-size: 0;
  line-height: 0;
}

/* line 29, ../sass/style_m.scss */
.tb {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.15rem;
}

/* line 36, ../sass/style_m.scss */
.bb {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.15rem;
}

/* line 43, ../sass/style_m.scss */
.lb {
  left: 0;
  top: 0;
  bottom: 0;
  height: 9999rem;
  width: 0.15rem;
}

/* line 50, ../sass/style_m.scss */
.rb {
  right: 0;
  top: 0;
  bottom: 0;
  height: 9999rem;
  width: 0.15rem;
}

/* line 57, ../sass/style_m.scss */
.bottom {
  width: 100%;
  height: 0.6rem;
}

/* line 61, ../sass/style_m.scss */
nav {
  width: 100%;
  height: 0.9rem;
  font-size: 0;
  background: #574395;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}
/* line 71, ../sass/style_m.scss */
nav .inner {
  width: 100%;
  height: 0.9rem;
  position: relative;
}
/* line 75, ../sass/style_m.scss */
nav .inner .logo {
  height: 0.9rem;
  font-size: 0;
  float: left;
}
/* line 80, ../sass/style_m.scss */
nav .inner .logo img {
  height: 0.9rem;
}
/* line 84, ../sass/style_m.scss */
nav .inner .menu {
  position: absolute;
  right: 0.35rem;
  top: 50%;
  margin-top: -0.16rem;
  width: 0.32rem;
}
/* line 90, ../sass/style_m.scss */
nav .inner .menu img {
  width: 100%;
}
/* line 94, ../sass/style_m.scss */
nav .inner .index {
  position: absolute;
  right: 0.87rem;
  top: 50%;
  margin-top: -0.18rem;
  height: 0.36rem;
  font-size: 0.24rem;
  line-height: 1.5;
  color: #fff;
}

/* line 106, ../sass/style_m.scss */
section {
  width: 100%;
}

/* index */
/* line 110, ../sass/style_m.scss */
.banner li {
  width: 100%;
  position: relative;
  font-size: 0;
}
/* line 114, ../sass/style_m.scss */
.banner li img {
  width: 100%;
}
/* line 117, ../sass/style_m.scss */
.banner li .img_title {
  position: absolute;
  width: 6.15rem;
  height: 3.4rem;
  left: 50%;
  margin-left: -3.075rem;
  top: 6.05rem;
}

/* line 126, ../sass/style_m.scss */
.nav {
  width: 100%;
  height: 1.6rem;
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0;
}
/* line 132, ../sass/style_m.scss */
.nav li {
  display: inline-block;
  width: 1.4rem;
  height: 1.6rem;
  font-size: 0;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  border-radius: 0.1rem;
  overflow: hidden;
}
/* line 140, ../sass/style_m.scss */
.nav li:hover, .nav li:active {
  background: #dfdbea;
}
/* line 143, ../sass/style_m.scss */
.nav li img {
  width: 100%;
}

/* line 148, ../sass/style_m.scss */
.index_main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.6rem;
}

/* line 152, ../sass/style_m.scss */
.line_title {
  width: 100%;
  height: 1.5rem;
  font-size: 0;
  text-align: center;
}
/* line 157, ../sass/style_m.scss */
.line_title img {
  width: 4rem;
  height: 1.5rem;
}

/* line 162, ../sass/style_m.scss */
.line_content {
  width: 100%;
  height: 4.3rem;
  margin-bottom: 0.4rem;
  background: #fff;
  padding: 0 0.1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 169, ../sass/style_m.scss */
.line_content .imgbox {
  width: 100%;
  height: 2.4rem;
  font-size: 0;
}
/* line 173, ../sass/style_m.scss */
.line_content .imgbox img {
  width: 100%;
  height: 100%;
}
/* line 178, ../sass/style_m.scss */
.line_content .textbox {
  width: 100%;
}
/* line 180, ../sass/style_m.scss */
.line_content .textbox .title {
  text-align: center;
  font-size: 0;
}
/* line 184, ../sass/style_m.scss */
.line_content .textbox .title img {
  width: 2.56rem;
}
/* line 188, ../sass/style_m.scss */
.line_content .textbox .content {
  width: 100%;
}
/* line 190, ../sass/style_m.scss */
.line_content .textbox .content p {
  font-family: SimSun,STSong;
  font-size: 0.16rem;
  line-height: 0.5rem;
  text-align: center;
}

/* line 199, ../sass/style_m.scss */
.line_content_ob {
  width: 100%;
  height: 2.8rem;
  margin-bottom: 0.4rem;
  background: #fff;
}
/* line 204, ../sass/style_m.scss */
.line_content_ob .imgbox {
  width: 3.1rem;
  height: 2.8rem;
  float: left;
  font-size: 0;
}
/* line 209, ../sass/style_m.scss */
.line_content_ob .imgbox img {
  width: 100%;
  height: 100%;
}
/* line 214, ../sass/style_m.scss */
.line_content_ob .textbox {
  width: 2.1rem;
  height: 2.8rem;
  float: left;
}
/* line 218, ../sass/style_m.scss */
.line_content_ob .textbox .title {
  width: 100%;
  text-align: center;
  padding-top: 0.6rem;
  font-size: 0;
}
/* line 223, ../sass/style_m.scss */
.line_content_ob .textbox .title img {
  width: 0.9rem;
  margin-left: -0.1rem;
}
/* line 228, ../sass/style_m.scss */
.line_content_ob .textbox .content {
  width: 100%;
  margin-top: 0.2rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 233, ../sass/style_m.scss */
.line_content_ob .textbox .content p {
  font-family: SimSun,STSong;
  font-size: 0.16rem;
  line-height: 0.4rem;
  text-align: center;
}

/* line 242, ../sass/style_m.scss */
.line_content_contact {
  width: 5.5rem;
  margin: 0 auto;
  font-size: 0;
}
/* line 246, ../sass/style_m.scss */
.line_content_contact form {
  padding: 0;
  margin: 0;
}
/* line 250, ../sass/style_m.scss */
.line_content_contact .inputbox {
  width: 100%;
  height: 0.5rem;
  /* for the future */
}
/* line 253, ../sass/style_m.scss */
.line_content_contact .inputbox input[type=text] {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background: #fff;
  border: 2px solid #5b4e9b;
  font-size: 0.16rem;
  color: #000;
}
/* line 264, ../sass/style_m.scss */
.line_content_contact .inputbox ::-webkit-input-placeholder {
  color: #9a8ebf;
}
/* line 267, ../sass/style_m.scss */
.line_content_contact .inputbox :-moz-placeholder {
  color: #9a8ebf;
}
/* line 270, ../sass/style_m.scss */
.line_content_contact .inputbox ::-moz-placeholder {
  color: #9a8ebf;
}
/* line 273, ../sass/style_m.scss */
.line_content_contact .inputbox :-ms-input-placeholder {
  color: #9a8ebf;
}
/* line 277, ../sass/style_m.scss */
.line_content_contact .btbox {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}
/* line 281, ../sass/style_m.scss */
.line_content_contact .btbox input[type=submit] {
  width: 100%;
  height: 0.5rem;
  text-align: center;
  -moz-border-radius: 0.06rem;
  -webkit-border-radius: 0.06rem;
  border-radius: 0.06rem;
  background: #5b4e9b;
  font-size: 0.16rem;
  color: #fff;
  border: none;
  -webkit-appearance: none;
}

/* line 294, ../sass/style_m.scss */
.flt_nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1300;
  background: #574395;
  opacity: 0.9;
  display: none;
}
/* line 304, ../sass/style_m.scss */
.flt_nav .close {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.7rem;
  right: 0.85rem;
  font-size: 0;
  cursor: pointer;
}
/* line 312, ../sass/style_m.scss */
.flt_nav .close img {
  width: 100%;
}
/* line 316, ../sass/style_m.scss */
.flt_nav ul {
  position: absolute;
  top: 2.7rem;
  left: 0;
  width: 100%;
}
/* line 321, ../sass/style_m.scss */
.flt_nav ul li {
  width: 100%;
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 0.3rem;
  text-align: center;
}
/* line 327, ../sass/style_m.scss */
.flt_nav ul li a {
  color: #fff;
}
